# ignore compiled documentation (output of Doxygen)
doc/html/
doc/latex/
build/
.vscode/
.catkin_tools/
.devcontainer/
devel/
certificates/certificatePem.pem.crt
certificates/certificatePrivateKey.pem.key
certificates/rootCA.crt
