<launch>
  <rosparam command="load" file="$(find vda5050_connector)/config/daemons_params.yaml" />
  <node name="action_daemon" pkg="vda5050_connector" type="action_daemon" output="screen" >  </node>
  <node name="action_send_mockup" pkg="vda5050_connector" type="action_send_mockup" output="screen" >  </node>
</launch>