<launch>
  <arg name="state_daemon" default="false" />
  <node name="supervisor" pkg="vda5050_connector" type="supervisor" output="screen">
    <rosparam command="load" file="$(find vda5050_connector)/config/daemons_params.yaml" />
  </node>
  <node name="action_daemon" pkg="vda5050_connector" type="action_daemon" output="screen">
    <!-- <rosparam command="load" file="$(find vda5050_connector)/config/daemons_params.yaml" /> -->
  </node>
</launch>
