<launch>
  <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${time}] [${node}]: ${message}" />
  <arg name="bridge_params" />
  <node name="mqtt_bridge" pkg="mqtt_bridge" type="mqtt_bridge_node.py" output="screen" respawn="true">
    <rosparam command="load" file="$(find vda5050_connector)/config/mqtt_bridge.yaml" />
  </node>
  <node name="action_client" pkg="vda5050_connector" type="action_client" clear_params="true"
    output="screen">
    <rosparam command="load" file="$(find vda5050_connector)/config/action_client.yaml" />
  </node>
  <node name="state_aggregator" pkg="vda5050_connector" type="state_aggregator" clear_params="true"
    output="screen">
    <rosparam command="load" file="$(find vda5050_connector)/config/state_aggregator.yaml" />
  </node>
  <node name="order_manager" pkg="vda5050_connector" type="order_manager" clear_params="true"
    output="screen">
    <rosparam command="load" file="$(find vda5050_connector)/config/order_manager.yaml" />
  </node>
  <rosparam command="load" ns="header" file="$(find vda5050_connector)/config/agv_data.yaml" />
</launch>